<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">

  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
        <div class="c-box wow fadeInRight product-listing-products">
          <h4 class="small-heading">Account Infomation</h4>
          <!--                        <p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
          <form action="/book-shop/account-info" enctype="multipart/form-data" method="post">
            <div class="d-flex justify-content-center mb-4">
              <img src={{avatar}} id="myImg" alt="Avatar" class="avatar">
              <a id="my-editIcon" class="icon" title="User Profile">
                <i class="fa fa-edit"></i>
              </a>
              <input type="file" name="avatar" id="my-file" onchange="loadFile(event)" multiple="multiple" hidden>
            </div>
            <div class="contact-form" id="contact-form-data">
              <div class="row my-form">
                <div class="col-md-12 col-sm-12">
                  <div id="result"></div>
                </div>
                <div class="col-12 col-md-6">
                  <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="First Name"
                    required="required" value={{firstName}}>
                </div>
                <div class="col-12 col-md-6">
                  <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Last Name"
                    required="required" value={{lastName}}>
                </div>
                <div class="col-12 col-md-6">
                  <input type="email" class="form-control" id="user_email" name="email" placeholder="Email"
                    required="required" value={{email}}>
                </div>
                <div class="col-12 col-md-6">
                  <input type="tel" class="form-control" id="user_subject" name="numberPhone" placeholder="Number phone"
                    pattern="[0-9]{10}" required="required" value={{numberPhone}}>
                </div>
                <div class="col-12">
                  <textarea class="form-control" id="user_message" name="more" placeholder="Message" rows="7"
                    required="required">{{more}}</textarea>
                </div>
                <div class="col-12">
                  <input class="btn green-color-yellow-gradient-btn user-contact contact_btn" type="Submit">
                  </input>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->