<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
        <div class="c-box wow fadeInRight product-listing-products">
          <h4 class="small-heading">Account Infomation</h4>
          <!--<p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
          <form action="/book-shop/account-info" enctype="multipart/form-data" onsubmit="return validateForm()" method="POST">
            <div class="d-flex justify-content-center mb-4">
              <img src="{{user.avatar}}" id="userImage" alt="Avatar" class="avatar">
            </div>
            <div style="width: 150px; height: 150px; margin: auto;">
              <input type="file" class="form-control" multiple="multiple" name="avatar" accept="image/*" onchange="loadFile(event)">      
            </div>
            <div class="contact-form" id="contact-form-data">
              <div class="row my-form">
                <div class="col-12 col-md-6">
                  <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="First Name"
                    required="required" value="{{user.firstName}}">
                </div>
                <div class="col-12 col-md-6">
                  <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Last Name"
                    required="required" value="{{user.lastName}}">
                </div>
                <div class="col-12">
                  <input type="email" class="form-control" id="candidate_fname" name="email" value="{{user.email}}" disabled>
                </div>
                <div class="col-12 col-md-12">
                  <input type="tel" class="form-control" id="user_subject" name="phoneNumber" placeholder="Number phone"
                    pattern="[0-9]{10}" required="required" value="{{user.phoneNumber}}">
                </div>
                <div class="col-12">
                  <textarea class="form-control" id="user_message" name="more" placeholder="Message" rows="7"
                    required="required">{{user.more}}</textarea>
                </div>
                <div class="col-12" id="errExtension" hidden>
                  <p class="text-danger">Avatar just allow file type .jpg, .jpeg, .png</p>
                </div>
                <div class="col-12" id="errSize" hidden>
                  <p class="text-danger">Your avatar file should be smaller than 2MB</p>
                </div>
                <div class="col-12">
                  <input class="btn green-color-yellow-gradient-btn user-contact contact_btn" type="Submit">
                  </input>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </section>
<!-- Contact Us End -->