<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!--Product Line Up Start -->
<div class="product-listing">
  <div class="container">
    <div class="row no-gutters">

      <!-- START STICKY NAV -->
      <div class="col-12 col-lg-4 order-2 order-lg-1 sticky megamenu-custom">
        <div id="product-filter-nav" class="product-filter-nav mb-3">
          <div class="nav-item product-category mb-3">
            <a class="collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages2">
              <h5 class="filter-heading  text-center text-lg-left">Category</h5>
              <i class="fas fa-chevron-down"></i>
            </a>
            <div id="sideNavPages2" class="collapse sideNavPages">
              <ul class="navbar-nav">
                {{#each categories}}
                <li><a onclick="insertParam('categoryID', '{{_id}}')">{{this.name}}</a><span>({{numberOfBook}})</span>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="product-price mt-1">
            <h5 class="filter-heading">Shop By</h5>
            <div id="slider-range"></div>
            <p class="price-num" style="color: #0b2e13;">Price:
              <span id="min-p"></span>
              <span id="max-p"></span></p>
            <input name="minPrice" id="minPrice" hidden>
            <input name="maxPrice" id="maxPrice" hidden>
          </div>
          <ul class="color-grey">
            <li>
              <div class="custom-control custom-radio">
                <input type="radio" id="default-sort" name="sort" class="custom-control-input" value="defualt"
                  checked="" value="default">
                <label class="custom-control-label" for="default-sort">Default</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-radio">
                <input type="radio" id="increase-sort" name="sort" class="custom-control-input" value="increase">
                <label class="custom-control-label" for="increase-sort">Increase</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-radio">
                <input type="radio" id="decrease-sort" name="sort" class="custom-control-input" value="decrease">
                <label class="custom-control-label" for="decrease-sort">Decrease</label>
              </div>
            </li>
          </ul>
          <button class="btn yellow-color-green-gradient-btn mt-1" onclick="filterPrice()">Filter</button>
          <div class="product-add mt-4">
            <div class="row no-gutters">
              <div class="col-12">
                <img src="img\advertisement.jpg" alt="images">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END STICKY NAV -->

      <!-- START PRODUCT COL 8 -->
      <div class="col-md-12 col-lg-8 order-1 order-lg-2">
        <div class="row">

          <!-- START LISTING HEADING -->
          <div class="pr-0 col-12 row product-listing-heading">
            <h1 class="p-0 col-6 heading text-left">Product Listing</h1>
            <div class="p-0 col-6">
              <form method="GET">
                <div class="m-0 input-group search-box-form">
                  <input type="text" class="form-control" placeholder="Search Here" aria-label="Search Here"
                    name="search">
                  <div class="input-group-prepend">
                    <button class="btn input-group-text" type="submit" id="basic-addon2"><i
                        class="fas fa-search"></i></button>
                  </div>
                </div>
              </form>

            </div>

            <p class="para_text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. tellus
              lacus faucibus lectus, sed cursused eros ligula non odio.</p>
          </div>
          <!-- END LISTING HEADING -->

          <!-- START PRODUCT LISTING SECTION -->
          <div class="col-12 product-listing-products" id="books">
            <!-- START DISPLAY PRODUCT -->
            <div class="product-list row">
              {{#each books}}
              <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s">
                <div class="product-item owl-theme product-listing-carousel owl-carousel">
                  <div class="item p-item-img">
                    <img src="data:{{coverTypes.[0]}};charset=utf-8;base64,{{coversString.[0]}}" alt="images">
                    <div class="text-center d-flex justify-content-center align-items-center">
                      <a class="listing-cart-icon" onclick="addOneItem('{{_id}}')">
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="item p-item-img">
                    <img src="data:{{coverTypes.[0]}};charset=utf-8;base64,{{coversString.[0]}}" alt="images" width="500px" height="500px">
                    <div class="text-center d-flex justify-content-center align-items-center">
                      <a class="listing-cart-icon" onclick="addOneItem('{{_id}}')">
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="item p-item-img">
                    <img src="data:{{coverTypes.[0]}};charset=utf-8;base64,{{coversString.[0]}}" alt="images" width="500px" height="500px">
                    <div class="text-center d-flex justify-content-center align-items-center">
                      <a class="listing-cart-icon" onclick="addOneItem('{{_id}}')">
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="p-item-detail">
                  <h4 class="text-center p-item-name"><a href="product-detail/{{_id}}"> {{name}} </a>
                  </h4>
                  <p class="text-center p-item-price">{{basePrice}} $</p>
                </div>
              </div>
              {{/each}}
            </div>
            <!-- END DISPLAY PRODUCT -->
            {{!-- Pagination --}}
            <div class="center">
              {{#unless hasPrevPage}}
              {{#unless hasNextPage}}
              <div class="pagination">
                <a onclick="paging('{{page}}')" class="btn active">{{page}}</a>
              </div>
              {{else}}
              <div class="pagination">
                {{!-- <a href="#">&laquo;</a> --}}
                <a onclick="paging('{{page}}')" class="btn active">{{page}}</a>
                <a onclick="paging('{{nextPage}}')" class="btn">{{nextPage}}</a>
                <a onclick="paging('{{nextPage}}')">&raquo;</a>
              </div>
              {{/unless}}
              {{else}}
              {{#unless hasNextPage}}
              <div class="pagination">
                <a onclick="paging('{{prevPage}}')">&laquo;</a>
                <a onclick="paging('{{prevPage}}')" class="btn">{{prevPage}}</a>
                <a onclick="paging('{{page}}')" class="btn active">{{page}}</a>
                {{!-- <a href="#">&raquo;</a> --}}
              </div>
              {{else}}
              <div class="pagination">
                <a onclick="paging('{{prevPage}}')">&laquo;</a>
                <a onclick="paging('{{prevPage}}')" class="btn">{{prevPage}}</a>
                <a onclick="paging('{{page}}')" class="btn active">{{page}}</a>
                <a onclick="paging('{{nextPage}}')" class="btn">{{nextPage}}</a>
                <a onclick="paging('{{nextPage}}')">&raquo;</a>
              </div>
              {{/unless}}
              {{/unless}}
            </div>
          </div>
          <!-- END PRODUCT LISTING SECTION -->
        </div>
      </div>
      <!-- END PRODUCT COL 8 -->
    </div>
  </div>
</div>
<!--Product Line Up End-->
<script type="text/x-handlebars-template" id="list-book">
<div class="product-list row">
  \{{#each books}}
  <div class="col-12 col-md-6 col-lg-4 manage-color-hover wow slideInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInUp;">
    <div class="product-item owl-theme product-listing-carousel owl-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-473px, 0px, 0px); transition: all 0s ease 0s; width: 1657px;"><div class="owl-item cloned" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[0]}};charset=utf-8;base64,\{{coversString.[0]}}" alt="images" width="500px" height="500px">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div><div class="owl-item cloned" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[0]}};charset=utf-8;base64,\{{coversString.[0]}}" alt="images" width="500px" height="500px">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div><div class="owl-item active" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[0]}};charset=utf-8;base64,\{{coversString.[0]}}" alt="images">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div><div class="owl-item" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[0]}};charset=utf-8;base64,\{{coversString.[0]}}" alt="images" width="500px" height="500px">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div><div class="owl-item" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[1]}};charset=utf-8;base64,\{{coversString.[1]}}" alt="images" width="500px" height="500px">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div><div class="owl-item cloned" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[2]}};charset=utf-8;base64,\{{coversString.[2]}}" alt="images">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div><div class="owl-item cloned" style="width: 226.656px; margin-right: 10px;"><div class="item p-item-img">
        <img src="data:\{{coverTypes.[0]}};charset=utf-8;base64,\{{coversString.[0]}}" alt="images" width="500px" height="500px">
        <div class="text-center d-flex justify-content-center align-items-center">
          <a class="listing-cart-icon" onclick="addOneItem('\{{_id}}')">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </div>
      </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><div class="navigation-link-prev"><a class="prev-btn"><i class="lni-chevron-left"></i> </a></div></button><button type="button" role="presentation" class="owl-next"><div class="navigation-link-next"><a class="next-btn"><i class="lni-chevron-right"></i> </a></div></button></div><div class="owl-dots disabled"></div></div>
    <div class="p-item-detail">
      <h4 class="text-center p-item-name"><a href="product-detail/\{{_id}}">\{{name}}</a>
      </h4>
      <p class="text-center p-item-price">\{{basePrice}}$</p>
    </div>
  </div>
  \{{/each}}
  
</div>
<div class="center">
    \{{#unless hasPrevPage}}
    \{{#unless hasNextPage}}
    <div class="pagination">
      <a onclick="paging('\{{page}}')" class="btn active">\{{page}}</a>
    </div>
    \{{else}}
    <div class="pagination">
      {{!-- <a href="#">&laquo;</a> --}}
      <a onclick="paging('\{{page}}')" class="btn active">\{{page}}</a>
      <a onclick="paging('\{{nextPage}}')" class="btn">\{{nextPage}}</a>
      <a onclick="paging('\{{nextPage}}')">&raquo;</a>
    </div>
    \{{/unless}}
    \{{else}}
    \{{#unless hasNextPage}}
    <div class="pagination">
      <a onclick="paging('\{{prevPage}}')">&laquo;</a>
      <a onclick="paging('\{{prevPage}}')" class="btn">\{{prevPage}}</a>
      <a onclick="paging('\{{page}}')" class="btn active">\{{page}}</a>
      {{!-- <a href="#">&raquo;</a> --}}
    </div>
    \{{else}}
    <div class="pagination">
      <a onclick="paging('\{{prevPage}}')">&laquo;</a>
      <a onclick="paging('\{{prevPage}}')" class="btn">\{{prevPage}}</a>
      <a onclick="paging('\{{page}}')" class="btn active">\{{page}}</a>
      <a onclick="paging('\{{nextPage}}')" class="btn">\{{nextPage}}</a>
      <a onclick="paging('\{{nextPage}}')">&raquo;</a>
    </div>
    \{{/unless}}
    \{{/unless}}
  </div>
</div>

</script>