<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('/book-shop/img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!-- START HEADING SECTION -->
<div class="about_content">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="product-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-center text-lg-left">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">Categories</a></li>
              <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0)">Books</a></li>
              <li class="breadcrumb-item"><a class="active" href="javascript:void(0)">{{book.name}}</a></li>
            </ol>
          </nav>
          <div class="pro-detail-sec row">
            <div class="col-12">
              <h4 class="pro-heading text-center text-lg-left">{{book.name}}</h4>
              <p class="pro-text text-center text-lg-left">Neque porro quisquam est qui dolorem ipsum quia dolor sit
                amet, consectetur, adipisci velit.</p>
            </div>
          </div>
          <div class="row product-list product-detail">

            <div class="col-12 col-lg-6 product-detail-slider">
              <div class="wrapper">
                <div class="Gallery swiper-container img-magnifier-container" id="gallery">
                  <div class="swiper-wrapper myimgs">
                    <div class="swiper-slide"> <img class="myimage"
                        src="data:{{book.coverTypes.[0]}};charset=utf-8;base64,{{book.coversString.[0]}}" alt="gallery">
                    </div>
                    <div class="swiper-slide">
                      <img class="myimage"
                        src="data:{{book.coverTypes.[1]}};charset=utf-8;base64,{{book.coversString.[1]}}"
                        alt="thumnails">
                    </div>
                    <div class="swiper-slide"><img class="myimage"
                        src="data:{{book.coverTypes.[2]}};charset=utf-8;base64,{{book.coversString.[2]}}"
                        alt="thumnails">
                    </div>
                  </div>
                </div>
                <div class="Thumbs swiper-container" id="thumbs">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"> <img
                        src="data:{{book.coverTypes.[0]}};charset=utf-8;base64,{{book.coversString.[0]}}"
                        alt="thumnails"></div>
                    <div class="swiper-slide"> <img
                        src="data:{{book.coverTypes.[1]}};charset=utf-8;base64,{{book.coversString.[1]}}"
                        alt="thumnails"></div>
                    <div class="swiper-slide"> <img
                        src="data:{{book.coverTypes.[2]}};charset=utf-8;base64,{{book.coversString.[2]}}"
                        alt="thumnails"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 text-center text-lg-left">
              <div class="product-single-price">
                <h4><span class="real-price">{{book.basePrice}} VNĐ</span></h4>
                <p class="pro-description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit.</p>
              </div>

              <div class="product-checklist">
                <ul>
                  <li><i class="fas fa-check"></i> Satisfaction 100% Guaranteed</li>
                  <li><i class="fas fa-check"></i> free shipping on orders over $99</li>
                  <li><i class="fas fa-check"></i> 14 days easy Return</li>
                </ul>
              </div>
              <div class="row product-quantity input_plus_mins no-gutters">

                <div class="qty col-12 col-lg-3 d-lg-flex  align-items-lg-center d-inline-block">
                  <span class="minus bg-dark"><i class="lni-minus"></i></span>
                  <input type="number" class="count" name="qty" value="1" id="quantity">
                  <span class="plus bg-dark"><i class="lni-plus"></i></span>
                </div>
                <div class="col-12 col-lg-9">
                  <button class="btn green-color-yellow-gradient-btn" onclick="addNewItem('{{book._id}}')">ADD TO
                    CART</button>
                </div>

              </div>


              <div class="dropdown-divider"></div>

              <div class="product-tags-list">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <p class="d-inline">SKU: <span>00012</span></p>
                    </li>
                    <li class="breadcrumb-item"><span class="d-inline">Categories:
                        <a href="javascript:void(0)">{{book.category}}</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                      <p class="d-inline">Tags:
                        <a href="javascript:void(0)">{{book.category}}</a>
                      </p>
                    </li>
                  </ol>
                </nav>
              </div>

              <div class="share-product-details">
                <ul class="share-product-icons">
                  <li>
                    <p>Share Link:</p>
                  </li>
                  <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f"
                        aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter"
                        aria-hidden="true"></i></a> </li>
                  <li><a href="javascript:void(0)" class="linkedin-bg-hvr"><i class="fab fa-linkedin-in"
                        aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram"
                        aria-hidden="true"></i></a></li>
                  {{#if book.views}}
                  <li>
                    <p>{{book.views}} views</i></p>
                  </li>
                  {{else}}
                  <li>
                    <p>0 views</i></p>
                  </li>
                  {{/if}}
                </ul>
              </div>
            </div>

            <div class="col-12 mt-4 mb-4">
              <div class="row no-gutters product-all-details">

                <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
                  <li class="col-6 nav-item">
                    <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                      aria-controls="contact" aria-selected="true">Customer Reviews (2)</a>
                  </li>
                  <li class="col-6 nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                      aria-selected="false">Project Description</a>
                  </li>

                </ul>
                <div class="col-12 tab-content" id="myTabContent">
                  <div class="tab-pane fade reviews" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="product-tab-description text-center text-lg-left">{{book.description}}</p>
                  </div>

                  <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div id="list-comment">
                      {{#each comments}}
                      <div class="row">
                        <div class="col-12 col-lg-2">
                          <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                              {{#if avatar}}
                              <img src='data:{{avatarType}};charset=utf-8;base64,{{avatar}}'
                                alt="Generic placeholder image" width="70px" style="border-radius: 50%;">
                              {{else}}
                              <img src='/book-shop/img/userAvatar/user.png' alt="Generic placeholder image" width="70px"
                                style="border-radius: 50%;">
                              {{/if}}
                            </div>
                            <div class="col-12 d-flex mt-2 justify-content-center">
                              <ul class="user-rating">
                                {{#each rating}}
                                {{#if this}}
                                <li><a href="#" style="color: #f5c136;"><i class="lni-star-filled"></i></a></li>
                                {{else}}
                                <li><a href="#" style="color: #f5c136;"><i class="lni-star"></i></a></li>
                                {{/if}}
                                {{/each}}
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-10">
                          <div class="media-body"
                            style="border-left: 1px solid #eceff6;    padding-left: 25px;    padding-right: 25px;">
                            <span class="text-center text-lg-left d-block"
                              style="font-family: Poppins, sans-serif; font-size: 12px;    color: lightgrey;    font-weight: lighter;">{{date}}</span>
                            <h5 class="mb-2 text-center text-lg-left">{{name}}</h5>
                            <p style="display: inline;">{{content}}</p>
                          </div>
                        </div>

                      </div>
                      {{/each}}
                      {{!-- PAGINATE --}}
                      <div class="center">
                        {{#unless hasPrevPage}}
                        {{#unless hasNextPage}}
                        <div class="pagination">
                          <a onclick="pagingComment('{{page}}')" class="btn active">{{page}}</a>
                        </div>
                        {{else}}
                        <div class="pagination">
                          {{!-- <a href="#">&laquo;</a> --}}
                          <a onclick="pagingComment('{{page}}')" class="btn active">{{page}}</a>
                          <a onclick="pagingComment('{{nextPage}}')" class="btn">{{nextPage}}</a>
                          <a onclick="pagingComment('{{nextPage}}')">&raquo;</a>
                        </div>
                        {{/unless}}
                        {{else}}
                        {{#unless hasNextPage}}
                        <div class="pagination">
                          <a onclick="pagingComment('{{prevPage}}')">&laquo;</a>
                          <a onclick="pagingComment('{{prevPage}}')" class="btn">{{prevPage}}</a>
                          <a onclick="pagingComment('{{page}}')" class="btn active">{{page}}</a>
                          {{!-- <a href="#">&raquo;</a> --}}
                        </div>
                        {{else}}
                        <div class="pagination">
                          <a onclick="pagingComment('{{prevPage}}')">&laquo;</a>
                          <a onclick="pagingComment('{{prevPage}}')" class="btn">{{prevPage}}</a>
                          <a onclick="pagingComment('{{page}}')" class="btn active">{{page}}</a>
                          <a onclick="pagingComment('{{nextPage}}')" class="btn">{{nextPage}}</a>
                          <a onclick="pagingComment('{{nextPage}}')">&raquo;</a>
                        </div>
                        {{/unless}}
                        {{/unless}}
                      </div>
                    </div>

                    <div class="row pl-2 pr-2">
                      <div class="col-12 d-flex mb-4 mt-3">
                        <h5 class="text-nowrap">Add Review</h5>
                        <hr class="w-100 ml-5">
                      </div>
                      <div class="col-12">
                        <form class="getin_form border-form" method="POST" action="addComment">
                          <div class="row">
                            {{#unless user}}
                            <div class="col-md-12 col-sm-12">
                              <div class="form-group bottom35">
                                <input type="text" class="form-control" placeholder="Name*" required="" name="name"
                                  id="registerName">
                              </div>
                            </div>
                            {{/unless}}
                            <div class="col-12 col-lg-2 text-center text-lg-left">
                              <h5 class="text-nowrap">Your Rating</h5>
                            </div>
                            <div class="col-12 col-lg-10 text-center text-lg-left">
                              <ul class="user-rating">
                                <li><a onclick="clickOneStar()"><i class="lni-star" id="one-star"></i></a></li>
                                <li><a onclick="clickTwoStar()"><i class="lni-star" id="two-star"></i></a></li>
                                <li><a onclick="clickThreeStar()"><i class="lni-star" id="three-star"></i></a></li>
                                <li><a onclick="clickFourStar()"><i class="lni-star" id="four-star"></i></a></li>
                                <li><a onclick="clickFiveStar()"><i class="lni-star" id="five-star"></i></a></li>
                              </ul>
                            </div>
                            <input type="text" class="form-control" required="" id="rating" name="rating" hidden>
                            <input type="text" class="form-control" name="productID" id="idOfBook" value="{{book._id}}"
                              hidden>
                            <div class="col-md-6 col-sm-12" id="noneRate" hidden>
                              <div class="form-group bottom35">
                                <p class="text-danger">You have not rated yet</p>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <textarea class="form-control textareaclass" rows="5" id="comment" name="content"
                                  placeholder="Your Review"></textarea>
                              </div>
                            </div>

                            <div class="col-12 mt-3">
                              <div class="form-group d-flex justify-content-center d-lg-block">
                                <button class="text-center btn green-color-yellow-gradient-btn"
                                  onclick="return checkComment()">Add Review</button>
                              </div>
                            </div>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>


        </div>

      </div>
    </div>
  </div>

  <!--START LATEST ARRIVALS-->
  <div class="lastest_arrivals">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1>Published Books</h1>
        </div>

        <div class="col-12">
          <div class="lastest_featured_products owl-carousel owl-theme">
            {{#each recommendBooks}}
            <div class="lastest_arrival_items item">
              <a href="product-detail/{{productID}}" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
              <div class="card">
                <span class="product-type">NEW</span>
                <div class="image-holder">
                  <a data-fancybox="lastest_product" data-title="Shirt Name">
                    <img src="data:{{coverTypes}};charset=utf-8;base64,{{coversString}}" class="card-img-top"
                      alt="Lastest Arrivals 1">
                  </a>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h5 class="card-title">{{name}}</h5>
                    </div>
                    <div class="col-12 text-center">
                      <p class="card-text"> ${{price}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}


          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END LATEST ARRIVALS-->

</div>
<!-- END HEADING SECTION -->
<script type="text/x-handlebars-template" id="new-comments-template">
\{{#each comments}}
<div class="row">
  <div class="col-12 col-lg-2">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <img src="\{{avatar}}" alt="Generic placeholder image" width="70px"
          style="border-radius: 50%;">
      </div>
      <div class="col-12 d-flex mt-2 justify-content-center">
        <ul class="user-rating">
          \{{#each rating}}
          \{{#if this}}
          <li><a href="#" style="color: #f5c136;"><i class="lni-star-filled"></i></a></li>
          \{{else}}
          <li><a href="#" style="color: #f5c136;"><i class="lni-star"></i></a></li>
          \{{/if}}
          \{{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-10">
    <div class="media-body"
      style="border-left: 1px solid #eceff6;    padding-left: 25px;    padding-right: 25px;">
      <span class="text-center text-lg-left d-block"
        style="font-family: Poppins, sans-serif; font-size: 12px;    color: lightgrey;    font-weight: lighter;">\{{date}}</span>
      <h5 class="mb-2 text-center text-lg-left">\{{name}}</h5>
      <p style="display: inline;">\{{content}}</p>
    </div>
  </div>

</div>
\{{/each}}
{{!-- PAGINATE --}}
<div class="center">
  \{{#unless hasPrevPage}}
  \{{#unless hasNextPage}}
  <div class="pagination">
    <a onclick="pagingComment('\{{page}}')" class="btn active">\{{page}}</a>
  </div>
  \{{else}}
  <div class="pagination">
    {{!-- <a href="#">&laquo;</a> --}}
    <a onclick="pagingComment('\{{page}}')" class="btn active">\{{page}}</a>
    <a onclick="pagingComment('\{{nextPage}}')" class="btn">\{{nextPage}}</a>
    <a onclick="pagingComment('\{{nextPage}}')">&raquo;</a>
  </div>
  \{{/unless}}
  \{{else}}
  \{{#unless hasNextPage}}
  <div class="pagination">
    <a onclick="pagingComment('\{{prevPage}}')">&laquo;</a>
    <a onclick="pagingComment('\{{prevPage}}')" class="btn">\{{prevPage}}</a>
    <a onclick="pagingComment('\{{page}}')" class="btn active">\{{page}}</a>
    {{!-- <a href="#">&raquo;</a> --}}
  </div>
  \{{else}}
  <div class="pagination">
    <a onclick="pagingComment('\{{prevPage}}')">&laquo;</a>
    <a onclick="pagingComment('\{{prevPage}}')" class="btn">\{{prevPage}}</a>
    <a onclick="pagingComment('\{{page}}')" class="btn active">\{{page}}</a>
    <a onclick="pagingComment('\{{nextPage}}')" class="btn">\{{nextPage}}</a>
    <a onclick="pagingComment('\{{nextPage}}')">&raquo;</a>
  </div>
  \{{/unless}}
  \{{/unless}}
</div>
</script>